:root {
	--dark-blue: #031131;
	--blue: #284a81;
	--other-blue: #174891;
	--more-blue: #152f56;

	--yellow: #fdba31;
	--light-yellow: #ffde9b;
	--dark-yellow: #d8b162;
}

body, body > * {
	padding: 0px;
	margin: 0px;
}

/* 

Stuff for the main setup

*/
#main {
	height: 100vh;
	display: grid;
	grid-template-columns: 190px auto 200px;
	grid-template-rows: 75px auto;
}

#settings {
	grid-column: 1 / 4;
	grid-row: 1 / 1;
	display: flex;
	justify-content: space-between;

	background-color: var(--dark-blue);
	color: white;
}

#navigation {
	grid-column: 1 / 1;
	grid-row: 2 / 3;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--more-blue);
}

#tags {
	grid-column: 3 / 3;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: column;
	
	background-color: var(--more-blue);
}

#image {
	grid-column: 2 / 2;
	grid-row: 2 / 3;
	background-color: var(--blue);
}



/* Stuff for buttons */
button {
	border: none;
	border-radius: 0.1rem;
}

.setting_button {
	border: none;
	border-radius: 0.3rem;
	background-color: var(--yellow);
}



/* Margin for the setting selector */
#setting_option { margin-right: 3em; }
#settings > * { margin-right: auto; }



/* tag_rule settings */
.tag_rule {
	padding: 10px 0px;
	display: flex;
}
#add_blank_rule { margin-bottom: 10px; }
.tag_rule > .rule_tags { width: 0px; flex-grow: 1; }
.tag_rule[data-activated=true] { background-color: var(--dark-yellow); }

.rule_tags {
	border: none;
	background-color: #fff8;
}



/* minipost settings */
.post {
	 border: 1px solid white;
	 padding: 0.25rem;
	 margin: 0.25rem;
	 width: 90%;
	 display: flex;
	 flex-direction: column;
}
.post > img { align-self: center; }
.post[data-visited=true] { background-color: var(--yellow); }
.post, .post a:visited, .post a {
	text-shadow:
		1px 1px #000,
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000;
	color: white;
}



/* Settings for big image in center */
#image {
	display:flex;
}
#image > * {
	max-width: 90%;
	max-height: 90%;
	margin: auto;
	align-self: center;
}

#image[data-file_type="swf"] {
	border: 10px solid #39a;
}
#image[data-file_type="webm"] {
	border: 10px solid #9fa;
}



/* Search bar */
#search {
	align-self: baseline;
	width: 95%;
}